<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<footer>
        <nav>
            <h3>Services</h3>
            <ul>
                <li><a th:href="@{/admin/home}">Corsisti</a></li>
                <li><a th:href="@{/admin/corsi}">Corsi</a></li>
                <li><a th:href="@{/admin/docenti}">Docenti</a></li>
                <li><a th:href="@{/admin/statistiche}">Statistiche</a></li>
            </ul>
            
        </nav>
    </footer>

</div>